{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <style>
    #botao{
      margin-left: 30px;
    }
  </style>
  
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inventory' %}">IGH Inventory Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="" class="nav-link active"> Olá, {{user.username}}</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'inventory' %}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'register' %}">Registre-se</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">Sair</a>
            </li>
          {% endif %}
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  
</body>

</html>
{% endblock %}